<section class="pt-5 pb-5 homepage-search-block position-relative d-flex align-items-center" style="min-height: 70vh; justify-items: center; justify-content: center; display: flex;">
   <div class="banner-overlay w-100">
       <div class="container">
           <div class="row d-flex align-items-center py-lg-4">
               <div class="col-lg-8 mx-auto">
                   <div class="homepage-search-title text-center">
                       <h1 class="mb-2 display-4 text-shadow text-white font-weight-normal"><span class="font-weight-bold">Bestelle jetzt einfach dein lieblings Essen</span></h1>
                       <h5 class="mb-5 text-shadow text-white-50 font-weight-normal">Listen der besten Restaurants, Cafés und Bars in Deutschland</h5>
                   </div>
                   <div class="homepage-search-form">
                       <form class="form-noborder">
                           <div class="form-row">
                               <div class="col-lg-3 col-md-3 col-sm-12 form-group">
                                   <div class="location-dropdown">
                                       <i class="icofont-location-arrow"></i>
                                       <select class="custom-select form-control-lg">
                                           <option> Schnellsuche </option>
                                           <option> Pizza </option>
                                           <option> Burger </option>
                                           <option> Döner </option>
                                           <option> Pasta </option>
                                           <option> Schnitzel </option>
                                       </select>
                                   </div>
                               </div>
                               <div class="col-lg-7 col-md-7 col-sm-12 form-group">
                                   <input type="text" placeholder="Geben Sie hier Ihre Adresse ein" class="form-control form-control-lg">
                                   <a class="locate-me" href="#"><i class="icofont-ui-pointer"></i> Mein Standort</a>
                               </div>
                               <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                   <a href="listing.html" class="btn btn-primary btn-block btn-lg btn-gradient">Suchen</a>
                               </div>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
