<nav class="navbar navbar-expand-lg navbar-dark osahan-nav">
    <div class="container">
       <a class="navbar-brand" href="{{url_for('home')}}"><img alt="Mahlzeit Express" src="#"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">Startseite <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="offers.html"><i class="icofont-sale-discount"></i> Angebote <span class="badge badge-warning">New</span></a>
             </li>
             <li class="nav-item dropdown">
               <a class="nav-link" href="{{ url_for('frontend_bp.all_restaurants') }}">
                Restaurants
                </a>
                
             </li>
             
             <li class="nav-item dropdown">
               {% if current_user.is_authenticated %}
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="nav-osahan-pic rounded-pill" alt="Generic placeholder image" src="{% if current_user.photo %}{{ url_for('static', filename=current_user.photo) }}{% else %}{{ url_for('static', filename='upload/no_image.jpg') }}{% endif %}"> Mein Account
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
                     <a class="dropdown-item" href="{{ url_for('user_bp.dashboard') }}"><i class="icofont-food-cart"></i> Dashboard</a>
                     <a class="dropdown-item" href="{{ url_for('user_bp.logout') }}"><i class="icofont-sale-discount"></i> Logout</a>
                  </div>
               {% else %}
                  <a class="nav-link" href="{{ url_for('user_bp.login') }}">Login</a>
               {% endif %}
            </li>
            
            
          </ul>
       </div>
    </div>
 </nav>