<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant-Liste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/search_theme/style.css')}}">
    
</head>
<body>
    {% include 'search/header.html' %}
    {% block content %}


    {% endblock content %}

    {% include 'search/footer.html' %}

    {% block javascripts %}
    
    <script src="{{ url_for('static', filename='frontend/search_theme/script.js')}}"></script>
  

    {% endblock javascripts %}

</body>
</html>