{% extends "admin_dashboard/layout/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                    <a href="{{ url_for('admin_bp.dashboard') }}" class="d-flex align-items-center justify-content-center">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                        Zurück zur Startseite
                    </a>
                </p>
                <div class="row justify-content-center form-bg-image" data-background-lg="{{ config.ASSETS_ROOT }}/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Restaurant Login</h1>
                            </div>
                            <form action="{{ url_for('admin_bp.password_reset_request') }}" method="POST">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    {% if get_flashed_messages() %}
                                        <div class="alert alert-info">
                                            {{ get_flashed_messages()[0] }}
                                        </div>
                                    {% endif %}
                                    <label for="email">Restaurant Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus required>
                                        
                                    </div>  
                                </div>
                                <!-- End of Form -->

                                <div class="d-grid">
                                    
                                    
                                    <button type="submit" class="btn btn-gray-800">Passwort-Reset-Link senden</button>

                                </div>
                            </form>









                            
                            
                            <div class="d-flex justify-content-center align-items-center mt-4"></div>
                            <span class="fw-normal">
                                Ich habe ein Account!
                                <a href="{{ url_for('admin_bp.login') }}" class="fw-bold">Jetzt anmelden</a>
                            </span><br>
                                <span class="fw-normal">
                                    Kein Account?
                                    <a href="{{ url_for('admin_bp.register') }}" class="fw-bold">Jetzt Partner werden</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
