{% extends "client_dashboard/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-0 shadow mb-4">
<h1>Neue Kategorie hinzufügen</h1>
<form action="{{ url_for('client_category_bp.add_category') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
        <label for="name" class="form-label">Name der Kategorie</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-success">Speichern</button>
    <a href="{{ url_for('client_category_bp.view_categories') }}" class="btn btn-secondary">Abbrechen</a>
</form>

        </div>
    </div> 
</div>
{% endblock %}
