{% extends "client_dashboard/layout/base.html" %}

{% block title %} Öffnungszeiten hinzufügen {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Öffnungszeiten hinzufügen</h2>

            <form method="POST" action="{{ url_for('client_opening_hours_bp.add_opening_hours') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label for="day_of_week" class="form-label">Wochentag</label>
                    <select id="day_of_week" name="day_of_week" class="form-control" required>
                        <option value="Montag">Montag</option>
                        <option value="Dienstag">Dienstag</option>
                        <option value="Mittwoch">Mittwoch</option>
                        <option value="Donnerstag">Donnerstag</option>
                        <option value="Freitag">Freitag</option>
                        <option value="Samstag">Samstag</option>
                        <option value="Sonntag">Sonntag</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="open_time" class="form-label">Öffnungszeit</label>
                    <input type="time" id="open_time" name="open_time" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="close_time" class="form-label">Schließzeit</label>
                    <input type="time" id="close_time" name="close_time" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-success">Öffnungszeiten hinzufügen</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
