{% extends "client_dashboard/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-0 shadow mb-4">
<h1>Kategorie bearbeiten</h1>
<form action="{{ url_for('client_category_bp.edit_category', id=category.id) }}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name der Kategorie</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ category.name }}" required>
    </div>
    <button type="submit" class="btn btn-success">Änderungen speichern</button>
    <a href="{{ url_for('client_category_bp.view_categories') }}" class="btn btn-secondary">Abbrechen</a>
</form>
        </div>
    </div>
</div>
{% endblock %}
