{% extends "backend/base.html" %}

{% block title %}Benutzer Passwort Zurücksetzen{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
         <div class="login d-flex align-items-center py-5">
            <div class="container">
               <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                     <h3 class="login-heading mb-4">Passwort zurücksetzen</h3>

                     <!-- Flash Messages Block -->
                     {% with messages = get_flashed_messages(with_categories=true) %}
                     {% if messages %}
                       {% for category, message in messages %}
                         <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                           {{ message }}
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>
                       {% endfor %}
                     {% endif %}
                     {% endwith %}
                     <!-- End Flash Messages Block -->

                     <!-- Passwort-Reset-Formular -->
                     <form action="{{ url_for('user_bp.password_reset_request') }}" method="POST">
                        <div class="form-label-group">
                            
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail-Adresse eingeben" required>
                            <label for="email" class="form-label">E-Mail-Adresse</label>
                        </div>
                        
                        <button type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Passwort-Reset-Link senden</button>
                        <div class="text-center pt-3">
                            Hast du schon ein Konto? <a class="font-weight-bold" href="{{ url_for('user_bp.login') }}">Anmelden</a>
                         </div>
                        <div class="text-center pt-3">
                           Noch kein Konto? <a class="font-weight-bold" href="{{ url_for('user_bp.register') }}">Registrieren</a>
                        </div>
                     </form>

                     <hr class="my-4">
                     <p class="text-center">ODER ANMELDEN MIT</p>
                     <div class="row">
                        <div class="col pr-2">
                           <button class="btn pl-1 pr-1 btn-lg btn-google font-weight-normal text-white btn-block text-uppercase" type="button"><i class="fab fa-google mr-2"></i> Google</button>
                        </div>
                        <div class="col pl-2">
                           <button class="btn pl-1 pr-1 btn-lg btn-facebook font-weight-normal text-white btn-block text-uppercase" type="button"><i class="fab fa-facebook-f mr-2"></i> Facebook</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
