{% extends "frontend/base_detail_checkout.html" %}

{% block title %}Kasse{% endblock %}

{% block content %}

<section class="offer-dedicated-body mt-4 mb-4 pt-2 pb-2">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="offer-dedicated-body-left">
                
                <div class="pt-2"></div>
                <div class="bg-white rounded shadow-sm p-4 mb-4">
                   <h4 class="mb-1">Choose a delivery address</h4>
                   <h6 class="mb-3 text-black-50">Multiple addresses in this location</h6>
                   <div class="row">
                      <div class="col-md-6">
                         <div class="bg-white card addresses-item mb-4 border border-success">
                            <div class="gold-members p-4">
                               <div class="media">
                                  <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i></div>
                                  <div class="media-body">
                                     <h6 class="mb-1 text-black">Adresse</h6>
                                     <p class="text-black">{{current_user.street}} {{current_user.house_number}}, <br>{{current_user.postal_code}} {{current_user.city}}
                                     </p>
                                     <p class="mb-0 text-black font-weight-bold"><a class="btn btn-sm btn-success mr-2" href="#"> DELIVER HERE</a> 
                                        <span>30MIN</span>
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="bg-white card addresses-item mb-4">
                            <div class="gold-members p-4">
                               <div class="media">
                                  <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i></div>
                                  <div class="media-body">
                                     <h6 class="mb-1 text-secondary">Work</h6>
                                     <p>NCC, Model Town Rd Town, Ludhiana, Punjab 141002, India
                                     </p>
                                     <p class="mb-0 text-black font-weight-bold"><a class="btn btn-sm btn-secondary mr-2" href="#"> DELIVER HERE</a> 
                                        <span>40MIN</span>
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   
                </div>
                <div class="pt-2"></div>
                <div class="bg-white rounded shadow-sm p-4 osahan-payment">
                   <h4 class="mb-1">Choose payment method</h4>
                   <h6 class="mb-3 text-black-50">Credit/Debit Cards</h6>
                   <div class="row">
                      <div class="col-sm-4 pr-0">
                         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <a class="nav-link active" id="v-pills-cash-tab" data-toggle="pill" href="#v-pills-cash" role="tab" aria-controls="v-pills-cash" aria-selected="false"><i class="icofont-money"></i> Pay on Delivery</a>
                            
                            <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="icofont-credit-card"></i> Credit/Debit Cards</a>
                            
                            
                         </div>
                      </div>
                      <div class="col-sm-8 pl-0">
                         <div class="tab-content h-100" id="v-pills-tabContent">

                           <div class="tab-pane fade show active" id="v-pills-cash" role="tabpanel" aria-labelledby="v-pills-cash-tab">
                              <h6 class="mb-3 mt-0 mb-3">Cash</h6>
                              <p>Please keep exact change handy to help us serve you better</p>
                              <hr>
                              <form action="{{ url_for('checkout_bp.process_checkout') }}" method="POST">
                                  <!-- Weitere relevante Eingabefelder oder versteckte Felder für die Bestellung -->
                                  <input type="hidden" name="payment_type" value="cash">
                                  <button type="submit" class="btn btn-success btn-block btn-lg">PAY ${{ grand_total }}
                                  <i class="icofont-long-arrow-right"></i></button>
                              </form>
                          </div>
                          
                             
                            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                               <h6 class="mb-3 mt-0 mb-3">Add new card</h6>
                               <p>WE ACCEPT <span class="osahan-card">
                                  <i class="icofont-visa-alt"></i> <i class="icofont-mastercard-alt"></i> <i class="icofont-american-express-alt"></i> <i class="icofont-payoneer-alt"></i> <i class="icofont-apple-pay-alt"></i> <i class="icofont-bank-transfer-alt"></i> <i class="icofont-discover-alt"></i> <i class="icofont-jcb-alt"></i>
                                  </span>
                               </p>
                               <form>
                                  <div class="form-row">
                                     <div class="form-group col-md-12">
                                        <label for="inputPassword4">Card number</label>
                                        <div class="input-group">
                                           <input type="number" class="form-control" placeholder="Card number">
                                           <div class="input-group-append">
                                              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="icofont-card"></i></button>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="form-group col-md-8">
                                        <label>Valid through(MM/YY)
                                        </label>
                                        <input type="number" class="form-control" placeholder="Enter Valid through(MM/YY)">
                                     </div>
                                     <div class="form-group col-md-4">
                                        <label>CVV
                                        </label>
                                        <input type="number" class="form-control" placeholder="Enter CVV Number">
                                     </div>
                                     <div class="form-group col-md-12">
                                        <label>Name on card
                                        </label>
                                        <input type="text" class="form-control" placeholder="Enter Card number">
                                     </div>
                                     <div class="form-group col-md-12">
                                        <div class="custom-control custom-checkbox">
                                           <input type="checkbox" class="custom-control-input" id="customCheck1">
                                           <label class="custom-control-label" for="customCheck1">Securely save this card for a faster checkout next time.</label>
                                        </div>
                                     </div>
                                     <div class="form-group col-md-12 mb-0">
                                        <a href="thanks.html" class="btn btn-success btn-block btn-lg">PAY $1329
                                        <i class="icofont-long-arrow-right"></i></a>
                                     </div>
                                  </div>
                               </form>
                            </div>
                            
                            
                            
                            
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-4 ">
            <div class="pt-2"></div>
             <div class="rounded shadow-sm pb-2  osahan-cart-item">
                <div class="d-flex mb-4 pt-4 p-2 osahan-cart-item-profile">
                    <img class="nav-osahan-pic rounded-pill" alt="Generic placeholder image" src="{% if current_user.photo %}{{ url_for('static', filename=current_user.photo) }}{% else %}{{ url_for('static', filename='upload/no_image.jpg') }}{% endif %}">
                   <div class="d-flex flex-column">
                      <h6 class="mb-1 text">{{current_user.username}}
                      </h6>
                      <p class="mb-0 text"><i class="icofont-location-pin"></i> {{current_user.street}} {{current_user.house_number}}, {{current_user.postal_code}} {{current_user.city}}</p>
                   </div>
                </div>
                
                <div class="">
                    <div class="bg-white text-white mb-4 pt-3 p-3 clearfix restaurant-detailed-earn-pts card-icon-overlap">
                      <h5 class="mb-1 text">Ihre Warenkorb</h5>
                      <p class="mb-4 text" id="cart-count">{{ total_items }} Artikel im Warenkorb</p>
                    
                      <div class="bg-white rounded shadow-sm mb-2 ">
                          {% for product_id, item in cart.items() %}
                          <div class="gold-members p-2 d-flex align-items-center justify-content-between" data-product-id="{{ product_id }}" data-price-per-unit="{{ item['price'] }}">
                              <div class="media align-items-center">
                                  <div class="mr-2">
                                      <!-- Produktbild anzeigen -->
                                      <img src="{{ url_for('static', filename='upload/client_produktbilder/' ~ item['client_id'] ~ '/' ~ item['image']) }}" alt="{{ item['name'] }}" style="width: 50px; height: 50px;" class="rounded-pill">
                                  </div>
                                  <div class="media-body">
                                      <!-- Produktname anzeigen -->
                                      <p class="mt-1 mb-0 text-black"><p class="mt-1 mb-0 text-black product-name" data-name="{{ item['name'] }}">{{ item['quantity'] }}x {{ item['name'] }}</p>
                                  </p>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center">
                                  <span class="count-number">
                                      <button class="btn btn-outline-secondary btn-sm left dec mr-1"> <i class="icofont-minus"></i> </button>
                                      <input class="count-number-input text-center" type="text" value="{{ item['quantity'] }}" readonly="" style="width: 40px;">
                                      <button class="btn btn-outline-secondary btn-sm right inc ml-1"> <i class="icofont-plus"></i> </button>
                    
                                      <button class="btn btn-outline-danger btn-sm right remove ml-1"> <i class="icofont-trash"></i> </button>
                                  </span>
                                  <span class="ml-3 text font-weight-bold" style="color: black !important;">{{ '{:.2f}'.format(item['price'] * item['quantity']) }} €</span> <!-- Produktpreis x Menge mit zwei Dezimalstellen -->
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                    
                      <!-- Gesamtsumme und Steuer anzeigen -->
                      <div class="mb-2 rounded bg-white p-2 clearfix">
                          <h6 class="font-weight-bold text-right mb-2 d-flex justify-content-between">
                              <span>Zwischensumme:</span> <span class="text" id="total-cost">{{ '{:.2f}'.format(total_cost) }} €</span>  <!-- Subtotal Element mit zwei Dezimalstellen -->
                          </h6>
                    
                          <div id="tax-details">
                              {% for rate, tax_amount in tax_details.items() %}
                              <p class="text-muted mb-1 d-flex justify-content-between">
                                  <span>MwSt./USt. {{ rate }} %:</span> <span class="text-muted mb-1 text-right">{{ '{:.2f}'.format(tax_amount) }} €</span>  
                              </p>
                              {% endfor %}
                          </div>
                          
                          
                          
                          <h6 class="font-weight-bold text-right mb-2 d-flex justify-content-between">
                              <span>MwSt./USt. Insgesamt:</span> <span class="text" id="tax">{{ '{:.2f}'.format(total_tax) }} €</span>  
                          </h6>
                    
                           
                    <hr>
                          <h6 class="font-weight-bold text-right mb-2 d-flex justify-content-between">
                              <span>Gesamtsumme:</span> <span class="text" id="grand-total">{{ '{:.2f}'.format(total_cost) }} €</span>  
                          </h6>
                          <p class="text-muted mb-1 text-right">Inkl. MwSt./USt.</p>
                      </div>
                      <a href="{{ url_for('checkout_bp.checkout') }}" class="btn btn-success btn-block btn-lg">Zur Kasse gehen <i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>

                
                
                
             </div>
             <div class="pt-2"></div>
             
             <div class="pt-2"></div>
             
          </div>
       </div>
    </div>
 </section>



{% endblock content %}










