{% extends "frontend/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<section class="section pt-5 pb-5 products-section">
    
    <div class="container">
        <div class="section-header text-center">
            <h2>Lieblings Restaurants</h2>
            <p>Listen der besten Restaurants, Cafés und Bars in Deutschland</p>
            <span class="line"></span>
        </div>
        <div class="row">
            {% for client in clients %}
            <div class="col-md-3">
                <div class="item pb-3">
                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                        <div class="list-card-image">
                            <a href="{{ url_for('frontend_bp.client_detail', client_id=client.id) }}">
                                <img src="{% if client.photo %}{{ url_for('static', filename=client.photo) }}{% else %}{{ url_for('static', filename='frontend/themes/img/list/1.png') }}{% endif %}" class="img-fluid item-img">
                            </a>
                        </div>
                        <div class="p-3 position-relative">
                            <div class="list-card-body">
                                <h6 class="mb-1"><a href="{{ url_for('frontend_bp.client_detail', client_id=client.id) }}" class="text-black">{{ client.clientname }}</a></h6>
                                {% if client.city %}
                                    <p class="text-secondary mb-0">{{ client.street }} {{ client.house_number }}, {{ client.postal_code }} {{ client.city.name }}</p>
                                {% else %}
                                    <p class="text-secondary mb-0">Adresse nicht verfügbar</p>
                                {% endif %}

                                <!-- Überprüfe, ob Öffnungszeiten vorhanden sind -->
                                {% if client.opening_hours and client.opening_hours|length > 0 %}
                                    <p class="text-gray mb-3 time"><i class="icofont-wall-clock"></i> Öffnungszeiten: 
                                    {{ client.opening_hours[0].open_time.strftime('%H:%M') }} - {{ client.opening_hours[0].close_time.strftime('%H:%M') }}</p>
                                {% else %}
                                    <p class="text-gray mb-3 time"><i class="icofont-wall-clock"></i> Öffnungszeiten: Keine Angaben</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
